aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.3.0
connect-python==0.4.2
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
propcache==0.3.2
protobuf==6.31.1
protogen==0.3.1
typing_extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
