version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
  # plugin base images
  - package-ecosystem: "docker"
    directory: "/.github/docker"
    schedule:
      interval: "daily"
    groups:
      distroless:
        patterns:
          - "distroless/*"
