name: ci
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      plugins:
        description: "Plugins to build and publish (i.e. connect-go:latest, connect-go, grpc/java:v1.53.0)"
        default: ''
        type: string

env:
  DOCKER_ORG: "ghcr.io/bufbuild"

# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions:
  actions: read
  contents: read
  packages: write
  id-token: write

concurrency: ci-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  prepare:
    runs-on: ubuntu-latest-4-cores
    outputs:
      plugins: ${{ steps.set-plugins.outputs.plugins }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: nrwl/nx-set-shas@3e9ad7370203c1e93d109be57f3b72eb0eb511b1 # v4.4.0
      id: last_successful_commit_push
      if: ${{ inputs.plugins == '' }}
      with:
        main-branch-name: ${{ github.ref_name }}
        workflow-id: 'ci.yml'
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        check-latest: true
    - name: Calculate plugins to build
      id: set-plugins
      env:
        BASE_REF: ${{ steps.last_successful_commit_push.outputs.base }}
      run: |
        if [[ -n "${{ inputs.plugins }}" ]]; then
          PLUGINS="${{ inputs.plugins }}"
        else
          PLUGINS=`go run ./internal/cmd/changed-plugins .`
        fi
        echo "plugins=${PLUGINS}" >> $GITHUB_OUTPUT
        echo "Building plugins: ${PLUGINS}"
    - name: Run Go tests
      run: go test -race -count=1 ./...

  build:
    needs: prepare
    if: needs.prepare.outputs.plugins != ''
    runs-on: ubuntu-latest-4-cores
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        check-latest: true
    - name: Get buf version
      shell: bash
      run: |
        echo BUF_VERSION=$(go list -m -f '{{.Version}}' github.com/bufbuild/buf | cut -c2-) >> $GITHUB_ENV
    - uses: bufbuild/buf-action@v1
      with:
        setup_only: true
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
    - name: Login to Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
    - name: Login to GitHub Container Registry
      if: github.repository == 'bufbuild/plugins'
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and test Docker images
      env:
        PLUGINS: ${{ needs.prepare.outputs.plugins }}
      run: make test
    - name: Push to GHCR
      if: github.repository == 'bufbuild/plugins'
      env:
        PLUGINS: ${{ needs.prepare.outputs.plugins }}
      run: make dockerpush

  upload-arm64:
    needs: [prepare, build]
    if: github.repository == 'bufbuild/plugins' && github.ref == 'refs/heads/main' && needs.prepare.outputs.plugins != ''
    environment: production
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        check-latest: true
    - name: Get buf version
      shell: bash
      run: |
        echo BUF_VERSION=$(go list -m -f '{{.Version}}' github.com/bufbuild/buf | cut -c2-) >> $GITHUB_ENV
    - uses: bufbuild/buf-action@v1
      with:
        setup_only: true
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
    - name: Build and test ARM64 Docker images
      env:
        PLUGINS: ${{ needs.prepare.outputs.plugins }}
      run: make test
    - name: Auth To GCP
      uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
      with:
        workload_identity_provider: projects/491113660045/locations/global/workloadIdentityPools/plugins-workload-pool/providers/plugins-workload-provider
        service_account: buf-plugins-1-bufbuild-plugins@buf-plugins-1.iam.gserviceaccount.com
    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
    - name: Create ARM64 plugin zips
      env:
        PLUGINS: ${{ needs.prepare.outputs.plugins }}
      run: go run ./cmd/create-plugin-zips -dir . -org "bufbuild" -out builds
    - name: Upload ARM64 plugins to GCS
      run: gsutil -m rsync -r builds gs://buf-plugins/arm64
