name: ci
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      plugins:
        description: "Plugins to build and publish (i.e. connect-go:latest, connect-go, grpc/java:v1.53.0)"
        default: ''
        type: string

env:
  DOCKER_ORG: "ghcr.io/bufbuild"

# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions:
  actions: read
  contents: read
  packages: write

concurrency: ci-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: set PLUGINS from workflow inputs
      if: ${{ inputs.plugins }}
      run: echo "PLUGINS=${{ inputs.plugins }}" >> $GITHUB_ENV
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: nrwl/nx-set-shas@177b48373c6dc583ce0d9257ffb484bdd232fedf
      id: last_successful_commit_push
      if: ${{ inputs.plugins == '' }}
      with:
        main-branch-name: ${{ github.ref_name }}
        workflow-id: 'ci.yml'
    - name: Get changed files
      id: changed-files
      if: ${{ inputs.plugins == '' }}
      uses: tj-actions/changed-files@c860b5c47fa71f461da850094ef2f6e3d6514e44
      with:
        base_sha: ${{ steps.last_successful_commit_push.outputs.base }}
        files: |
          plugins/**
        files_ignore: |
          **/source.yaml
        separator: ","
    - name: Show changed files
      if: ${{ inputs.plugins == '' }}
      run: |
        echo '${{ toJSON(steps.changed-files.outputs) }}'
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        check-latest: true
    - name: Set PLUGINS env var from changed files
      if: ${{ inputs.plugins == '' }}
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      run: |
        val=`go run ./internal/cmd/changed-plugins .`
        if [[ -n "${val}" && -z "${PLUGINS}" ]]; then
          echo "PLUGINS=${val}" >> $GITHUB_ENV
        fi
    - name: Install buf cli
      uses: bufbuild/buf-setup-action@v1
      with:
        github_token: ${{ github.token }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@4c0219f9ac95b02789c1075625400b2acbff50b1
    - name: Login to Docker Hub
      uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      if: github.repository == 'bufbuild/plugins'
      uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Test
      run: make test
    - name: Push to GHCR
      if: github.repository == 'bufbuild/plugins'
      run: make dockerpush
