name: ci
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      plugins:
        description: "Plugins to build and publish (i.e. connect-go:latest, connect-go, grpc/java:v1.53.0)"
        default: ''
        type: string

env:
  DOCKER_ORG: "ghcr.io/bufbuild"

# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions:
  actions: read
  contents: read
  packages: write

concurrency: ci-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest-4-cores
    steps:
    - name: set PLUGINS from workflow inputs
      if: ${{ inputs.plugins }}
      run: echo "PLUGINS=${{ inputs.plugins }}" >> $GITHUB_ENV
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4.3.3
      id: last_successful_commit_push
      if: ${{ inputs.plugins == '' }}
      with:
        main-branch-name: ${{ github.ref_name }}
        workflow-id: 'ci.yml'
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        check-latest: true
    - name: Calculate changed plugins and set PLUGINS env var from last successful commit push
      if: ${{ inputs.plugins == '' }}
      env:
        BASE_REF: ${{ steps.last_successful_commit_push.outputs.base }}
      run: |
        val=`go run ./internal/cmd/changed-plugins .`
        if [[ -n "${val}" && -z "${PLUGINS}" ]]; then
          echo "PLUGINS=${val}" >> $GITHUB_ENV
        fi
    - name: Get buf version
      shell: bash
      run: |
        echo BUF_VERSION=$(go list -m -f '{{.Version}}' github.com/bufbuild/buf | cut -c2-) >> $GITHUB_ENV
    - uses: bufbuild/buf-action@v1
      with:
        setup_only: true
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to GitHub Container Registry
      if: github.repository == 'bufbuild/plugins'
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Test
      run: make test
    - name: Push to GHCR
      if: github.repository == 'bufbuild/plugins'
      run: make dockerpush
