name: Fetch latest versions

# When triggering a manual execution of the workflow, you may want to disable the scheduled execution temporarily
# to ensure that any in-flight generated PR is not overridden by the scheduled execution.

on:
  schedule:
    # Run once a day at 10 AM EST
    - cron: "0 14 * * *"
  workflow_dispatch:
permissions:
  contents: read
  issues: write
jobs:
  fetch-versions:
    if: github.repository == 'bufbuild/plugins'
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: 249762
          private-key: ${{ secrets.TOKEN_EXCHANGE_GH_APP_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write
      - name: Checkout repository code
        uses: actions/checkout@v6
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
      - name: Get buf version
        shell: bash
        run: |
          echo BUF_VERSION=$(go list -m -f '{{.Version}}' github.com/bufbuild/buf | cut -c2-) >> $GITHUB_ENV
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Fetch all versions
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          go run ./internal/cmd/fetcher .
      - name: Archive plugin generated code
        uses: actions/upload-artifact@v6
        with:
          name: plugin-generated-code
          path: |
            tests/testdata/**/gen/**
          retention-days: 7
      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          add-paths: .
          commit-message: "detected new plugin versions"
          branch: fetch-versions
          delete-branch: true
          title: "Found new plugin versions"
          body: "New plugin versions found. Please review."
          assignees: mfridman, pkwarren, stefanvanburen
          token: ${{ steps.generate_token.outputs.token }}
      - name: Generate Github Token
        id: generate_issues_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        if: ${{ failure() }}
        with:
          app-id: ${{ secrets.BUFBUILD_ISSUE_CREATOR_APP_ID }}
          private-key: ${{ secrets.BUFBUILD_ISSUE_CREATOR_APP_KEY }}
          permission-issues: write
      - uses: dblock/create-a-github-issue@c5e54b8762a0c4c2cd9330750e30b81bcc369c38 # v3.2.0
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ steps.generate_issues_token.outputs.token }}
          GITHUB_SERVER_URL: ${ github.server_url }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_ATTEMPT: ${{ github.run_attempt }}
        with:
          filename: .github/automatic-workflow-issue-template.md
          update_existing: true
          search_existing: open
