name: Fetch latest versions

on:
  schedule:
    # Run once a day at 10 AM EST
    - cron: "0 14 * * *"
  workflow_dispatch:

jobs:
  fetch-versions:
    if: github.repository == 'bufbuild/plugins'
    runs-on: ubuntu-22.04
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92
        with:
          app_id: 249762
          private_key: ${{ secrets.TOKEN_EXCHANGE_GH_APP_PRIVATE_KEY }}
          repository: ${{ github.repository }}
          permissions: >-
            {"contents": "write", "pull_requests": "write"}
      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
          check-latest: true
          cache: true
      - name: Install buf cli
        uses: bufbuild/buf-setup-action@v1.16.0
        with:
          github_token: ${{ github.token }}
      - name: Fetch all versions
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          go run ./internal/cmd/fetcher .
      - name: Create PR
        uses: peter-evans/create-pull-request@5b4a9f6a9e2af26e5f02351490b90d01eb8ec1e5
        with:
          add-paths: .
          commit-message: "detected new plugin versions"
          branch: fetch-versions
          delete-branch: true
          title: "Found new plugin versions"
          body: "New plugin versions found. Please review."
          assignees: mfridman, pkwarren
          token: ${{ steps.generate_token.outputs.token }}
