name: pr
on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {} # support manual runs

# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr:
    env:
      BUILDKIT_PROGRESS: plain
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v34
      with:
        files: |
          plugins/**
          tests/*.go
          tests/testdata/buf.build/**
          tests/testdata/images/*.gz
          Makefile
        files_ignore: |
          **/source.yaml
        separator: ","
    - name: Show changed files
      run: |
        echo '${{ toJSON(steps.changed-files.outputs) }}'
      shell: bash
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
        check-latest: true
        cache: true
    - name: Install buf cli
      run: |
        go install github.com/bufbuild/buf/cmd/buf@main
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        driver: docker
        driver-opts: network=host
    - name: Login to Docker Hub
      if: github.repository == 'bufbuild/plugins'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make
    - name: Test
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make test
