name: pr
on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {} # support manual runs

# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr:
    env:
      BUILDKIT_PROGRESS: plain
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@84ed30e2f4daf616144de7e0c1db59d5b33025e3
      with:
        files: |
          plugins/**
          tests/testdata/buf.build/**
        files_ignore: |
          **/source.yaml
        separator: ","
    - name: Show changed files
      run: |
        echo '${{ toJSON(steps.changed-files.outputs) }}'
      shell: bash
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.x
        check-latest: true
        cache: true
    - name: Install buf cli
      uses: bufbuild/buf-setup-action@v1.15.1
      with:
        github_token: ${{ github.token }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@f03ac48505955848960e80bbb68046aa35c7b9e7
      with:
        driver: docker
        driver-opts: network=host
    - name: Login to Docker Hub
      if: ${{ env.DOCKERHUB_USERNAME != '' }}
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make
    - name: Test
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make test
