name: pr
on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      plugins:
        description: "Plugins to build and publish (i.e. connect-go:latest, connect-go, grpc/java:v1.53.0)"
        default: ''
        type: string

# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  pr:
    env:
      BUILDKIT_PROGRESS: plain
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    runs-on: ubuntu-latest-4-cores
    steps:
    - name: set PLUGINS from workflow inputs
      if: ${{ inputs.plugins }}
      run: echo "PLUGINS=${{ inputs.plugins }}" >> $GITHUB_ENV
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Get changed files
      id: changed-files
      if: ${{ inputs.plugins == '' }}
      uses: tj-actions/changed-files@95690f9ece77c1740f4a55b7f1de9023ed6b1f87
      with:
        files: |
          plugins/**
          tests/testdata/buf.build/**
        files_ignore: |
          **/source.yaml
        separator: ","
    - name: Show changed files
      if: ${{ inputs.plugins == '' }}
      run: |
        echo '${{ toJSON(steps.changed-files.outputs) }}'
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        check-latest: true
    - name: Set PLUGINS env var from changed files
      if: ${{ inputs.plugins == '' }}
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      run: |
        val=`go run ./internal/cmd/changed-plugins .`
        if [[ -n "${val}" && -z "${PLUGINS}" ]]; then
          echo "PLUGINS=${val}" >> $GITHUB_ENV
        fi
    - name: Install buf cli
      uses: bufbuild/buf-setup-action@v1
      with:
        github_token: ${{ github.token }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
    - name: Login to Docker Hub
      if: ${{ env.DOCKERHUB_USERNAME != '' }}
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Test
      run: make test
