name: pr
on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {} # support manual runs

# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all

jobs:
  pr:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v32
      with:
        files: |
          plugins/**
          tests/*.go
          tests/testdata/buf.build/**
          tests/testdata/images/*.gz
          Makefile
        files_ignore: |
          **/source.yaml
        separator: ","
    - name: Show changed files
      run: |
        echo '${{ toJSON(steps.changed-files.outputs) }}'
      shell: bash
    - uses: bufbuild/buf-setup-action@v1
      with:
        version: 1.8.0
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
        check-latest: true
    - name: Cache
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-plugins-ci-${{ hashFiles('**/go.sum') }}
        restore-keys: ${{ runner.os }}-plugins-ci
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        driver-opts: network=host
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
    - name: Build
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make DOCKER_ORG="localhost:5000/bufbuild" DOCKER_READ_CACHE_ORG="ghcr.io/bufbuild" DOCKER_BUILD_EXTRA_ARGS="--push"
    - name: Test
      env:
        ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        ANY_MODIFIED: ${{ steps.changed-files.outputs.any_modified }}
      shell: bash
      run: make test DOCKER_ORG="localhost:5000/bufbuild"
