name: Create Release

on:
  schedule:
    # At minute 30 past every 6th hour.
    - cron: "30 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  issues: write
  packages: read

# Only allow a single release workflow to run at a time.
concurrency: ${{ github.workflow }}

jobs:
  release:
    environment: production
    if: github.repository == 'bufbuild/plugins'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        if: github.repository == 'bufbuild/plugins'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          MINISIGN_PRIVATE_KEY: ${{ secrets.MINISIGN_PRIVATE_KEY }}
          MINISIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.MINISIGN_PRIVATE_KEY_PASSWORD }}
        run: |
          echo "${MINISIGN_PRIVATE_KEY}" > minisign.key
          go run ./internal/cmd/release -commit ${{ github.sha }} -minisign-private-key minisign.key .
      - name: Clean Up
        if: always()
        run: |
          rm -fv minisign.key
      - name: Generate Github Token
        id: generate_issues_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        if: ${{ failure() }}
        with:
          app-id: ${{ secrets.BUFBUILD_ISSUE_CREATOR_APP_ID }}
          private-key: ${{ secrets.BUFBUILD_ISSUE_CREATOR_APP_KEY }}
          permission-issues: write
      - uses: dblock/create-a-github-issue@d10508ebcd7fbef05990c86355a17763cd29aa93 # v3.3.0
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ steps.generate_issues_token.outputs.token }}
          GITHUB_SERVER_URL: ${ github.server_url }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_ATTEMPT: ${{ github.run_attempt }}
        with:
          filename: .github/automatic-workflow-issue-template.md
          update_existing: true
          search_existing: open
  upload:
    needs: release
    uses: ./.github/workflows/upload.yml
