name: Restore Release

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "The release tag that should be restored in the container registry"
        required: true
      arguments:
        description: "Arguments to the restore release command"
        required: false

permissions:
  contents: read
  packages: write

jobs:
  release:
    environment: production
    if: github.repository == 'bufbuild/plugins'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        if: github.repository == 'bufbuild/plugins'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Restore Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          go run ./internal/cmd/restore-release ${{ inputs.arguments }} ${{ inputs.release_tag }}
