name: Upload to GCS

on:
  workflow_call:
    inputs:
      since:
        description: 'Upload plugins created or modified since this time (Go duration syntax)'
        default: '24h'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      since:
        description: 'Upload plugins created or modified since this time (Go duration syntax)'
        default: '24h'
        required: false
        type: string

permissions:
  contents: read
  id-token: write
  issues: write

jobs:
  release:
    environment: production
    if: github.repository == 'bufbuild/plugins'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          check-latest: true
        # uses https://cloud.google.com/iam/docs/workload-identity-federation to
        # swap a GitHub OIDC token for GCP service account credentials, allowing
        # this workflow to manage the buf-plugins bucket
      - name: Auth To GCP
        uses: google-github-actions/auth@67e9c72af6e0492df856527b474995862b7b6591
        with:
          workload_identity_provider: projects/491113660045/locations/global/workloadIdentityPools/plugins-workload-pool/providers/plugins-workload-provider
          service_account: buf-plugins-1-publisher@buf-plugins-1.iam.gserviceaccount.com
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@e30db14379863a8c79331b04a9969f4c1e225e0b
      - name: Download Plugins
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          go run ./cmd/download-plugins -since ${{ inputs.since }} downloads
      - name: Upload To Release Bucket
        run: gsutil rsync -r downloads gs://buf-plugins
      - uses: dblock/create-a-github-issue@866beb009af3db457e82ca98efe474969a5ebce8
        if: failure()
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_SERVER_URL: ${ github.server_url }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_ATTEMPT: ${{ github.run_attempt }}
        with:
          filename: .github/automatic-workflow-issue-template.md
          update_existing: true
          search_existing: open
